html {background-color: #eee;}
body {
	background-color: #fff;
	padding-top:10px;
	padding-bottom:10px;
	margin: 30px;

	border-radius:10px;
	box-shadow: 4px 4px 12px #aaa;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}
a {color: #000;}

header h1 {padding:0 0 10px 10px;}
nav ul {
	margin:0px;padding:0;background-color:black;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#999), to(black));
	background-image: -moz-linear-gradient(top, #999 0%, black 100%););
}
nav ul li {display:inline-block;}
nav ul li a {display:block;color:white;text-decoration:none; padding:7px 15px;}
nav ul li:hover {
	background-color:red; color: #fdd;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#700), to(#f33));
	background-image: -moz-linear-gradient(top, #700 0%, #f33 100%););
}

section.body {margin: 15px;}

table.data {border: 1px solid #aaa; width:100%;border-spacing:0px;padding:1px; table-layout:fixed;}
table.data thead {background-color:#b00}
table.data thead a, table.data thead th {color:#fff;text-decoration:none;font-weight:normal;}
table.data tbody tr td {border-top: 1px solid #f7f7f7;}
table.data tbody tr.odd {background-color:#f7f7f7}
table.data tbody tr.even {background-color:#f7e4e4}
table.data tbody tr.gold.odd {background-color:#F7F1BE}
table.data tbody tr.gold.even {background-color:#F7ECA2}
table.data tbody tr:hover {background-color:#c3c3e4 !important}
table.data tbody tr.highlighted {background-color:#245AD0 !important; color: #fff}
table.data th, table.data td {overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-family:Helvetica, Tahoma, sans-serif;}

th.checkbox-col {width:22px;}
th.vote_c-col, th.top-col, th.total-col  {width:40px;}
th.rank-col, th.pal_c-col {width:50px;}
th.progress-col, th.vote_s-col, th.pal_s-col {width:70px;}
th.progress-col a, th.vote_s-col a, th.pal_s-col a {font-size:0.9em;}
th.clips-col {width:100%;}
span.sort-arrow {font-size:.7em;}

div.modal {display:none;background:red;}
.inline {display:inline;}

#chart-container {width: 1000px; height: 600px; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto;}